// 大總管 navbar.scss 

.master_slide_title { 
	//background: url(../images/subtitle-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  color: #ff6600;
  font-size: 42px;
  margin-top: 20px;
  padding-bottom: 15px;
  letter-spacing: 5px;
}

.master-slider-pc {
  //background: url(../images/newindex/twhg-sliderbg.jpg);
  //background-color: #f3c516;
  background-position: center 100px;
  background-repeat: no-repeat;
  padding: 0 10px;
  //height: 300px;
  display: flex;
  opacity: 0.8;
  margin: 0px 100px;
}

.master-slide-a {
	width: 30%;
	margin: 5px;
}

.master-right-image-a {
	width: 100%;	
	//float: left;
	margin: 5px;
}

.master-slide-b {
	width: 70%;
	margin: 5px;
}	

.master-right-image {
	width: 40%;	
	float: left;
	margin: 5px;
}

.master-clear {
	clear: left;
}

.master-slider-mobile {
	display: none;
}

@media only screen and (min-width: 321px) and (max-width: 768px) { 

	.master-slider-pc {
		display: none;
	}

	.master-slider-mobile {
		display: inline;
	}

	.master-slide-a {
		width: 100%;
	}

	.master-slide-b {
		width: 100%;
		margin: 0 40px;
	}

}